<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Warehouse</title>
  </head>
  <body style="background-color: #181818; color: #e0e0e0">
    <h1>Create a New Warehouse</h1>
    <form action="http://localhost:3000/warehouse/new" method="post">
      <label for="address">Warehouse Address:</label>
      <input type="text" id="address" name="address" required />
      <br />

      <label for="latitude">Latitude:</label>
      <input
        type="number"
        id="latitude"
        name="latitude"
        step="0.000001"
        required
      />
      <br />

      <label for="longitude">Longitude:</label>
      <input
        type="number"
        id="longitude"
        name="longitude"
        step="0.000001"
        required
      />
      <br />

      <label for="capacity">Capacity:</label>
      <input
        type="number"
        id="capacity"
        name="capacity"
        step="1"
        min="0"
        required
      />
      <br />
      <button type="submit">Create Warehouse</button>
    </form>
  </body>
</html>
